#header-links {
    display: none;
}

@media only screen and (min-width: 1280px) {
    #header-links {
        margin-right: 4rem;
        display: flex;
    }
}

@media only screen and (min-width: 1280px) {
    #header-hamburger-menu {
        display: none;
    }
}

header {
    width: 100%;
    background-color: var(--bg-100);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
}

nav {
    width: 100%;
}

nav > div {
    padding: 1.5rem 2rem;
    align-items: center;
}

nav > div > a > img:hover {
    cursor: pointer;
}

.header-link {
    color: var(--text-color);
    text-decoration: none;
}

.header-link:hover {
    color: var(--accent);
}
