#projects {
    margin: 1rem 2rem;
    h1 {
        font-size: 2.5rem;
    }
    *{
        margin-bottom: 0.5rem;
    }
}
input[type='search'] {
    background-color: var(--bg-200);
    border: var(--bg-100);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--text-color);
}

input[type='button'] {
    background-color: var(--accent);
    border: none;
    color: var(--text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

button {
    color: var(--accent);
    font-weight: 700;
    border: none;
    background-color: var(--text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
#projects-gallery {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media only screen and (min-width: 1280px) {
    #projects-gallery {
        grid-template-columns: 2fr 2fr;
    }
}
.project-card {
    border: 0.25rem solid var(--bg-300);
    overflow: hidden;
    border-radius: 0.5rem;
}

.project-card-info {
    background-color: var(--accent);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    padding-bottom: 2rem;
}
.project-card-tags {
    display: flex;
    gap: 1rem;
    p {
        background-color: var(--secondary-200);
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
    }
}
.project-card-header {
    display: flex;
    justify-content: space-between;
}
