<main id="projects">
    <section>
        <h1>Projects</h1>
        <p>These are personal projects demonstrating my skills.</p>
        <input
            id="projects-search-input"
            type="search"
            placeholder="Enter search here..."
        />
        <input type="button" value="Search" />
        <div id="projects-gallery">
            <div class="project-card">
                <img alt="Taskly preview image." width="100%" src="/assets/images/taskly.png" />
                <div class="project-card-details">
                    <div class="project-card-header">
                        <h3>Taskly</h3>
                        <button>See More</button>
                    </div>
                    <ul class="project-card-tags">
                        <li>NextJS</li>
                        <li>Typescript</li>
                        <li>Firebase</li>
                        <li>Tailwind</li>
                    </ul>

                    <p>
                        Task management web application built for managing courses,
                        assignments and tasks within NMIT as a student.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
