<div id="projects">
    <h1>Projects</h1>
    <p>These are personal projects demonstrating my skills.</p>
    <input
        id="projects-search-input"
        type="search"
        placeholder="Enter search here..."
    />
    <input type="button" value="Search" />
    <div id="projects-gallery">
        <div class="project-card">
            <img width="100%" src="/assets/images/taskly.png" />
            <div class="project-card-info">
                <div class="project-card-header">
                    <h3>Taskly</h3>
                    <button>See More</button>
                </div>
                <div class="project-card-tags">
                    <p>NextJS</p>
                    <p>Typescript</p>
                    <p>Firebase</p>
                    <p>Tailwind</p>
                </div>

                <p>
                    Task management web application built for managing courses,
                    assignments and tasks within NMIT as a student.
                </p>
            </div>
        </div>
    </div>
</div>
