main {
    margin: 1rem 2rem;
    h1 {
        font-size: 2.5rem;
    }
    p{
        margin-bottom: 0.5rem;
    }
}

input[type='search'] {
    background-color: var(--bg-200);
    border: var(--bg-100);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--text-color);
}

input[type='button']:hover {
    transform: scale(1.1);
    cursor: pointer;
}

input[type='button'] {
    background-color: var(--accent);
    border: none;
    color: var(--text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    transition: transform ease-in-out 0.2s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button {
    color: var(--accent);
    font-weight: 700;
    border: none;
    background-color: var(--text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: transform ease-in-out 0.2s;
}
#projects-gallery {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media only screen and (min-width: 800px) {
    #projects-gallery {
        grid-template-columns: 2fr 2fr;
    }
}
.project-card {
    border: 0.25rem solid var(--bg-300);
    overflow: hidden;
    border-radius: 0.5rem;
}

.project-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    h3{
        font-size: 1.25rem;
    }
}

.project-card-details {
    background-color: var(--accent);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}
.project-card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem 1rem;
    padding: 0;
    margin-bottom: 1rem;
    li {
        list-style-type: none;
        background-color: var(--secondary-200);
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
    }
}

