main {
    margin: 1rem 2rem;
    h1 {
        font-size: 2.5rem;
    }
    p {
        margin-bottom: 0.5rem;
    }
}

input[type='search'] {
    background-color: var(--bg-200);
    border: var(--bg-100);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--text-color);
}

input[type='button']:hover {
    transform: scale(1.1);
    cursor: pointer;
}

input[type='button'] {
    background-color: var(--accent);
    border: none;
    color: var(--text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    transition: transform ease-in-out 0.2s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button {
    color: var(--accent);
    font-weight: 700;
    border: none;
    background-color: var(--text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: transform ease-in-out 0.2s;
}
#projects-gallery {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media only screen and (min-width: 800px) {
    #projects-gallery {
        grid-template-columns: 2fr 2fr;
    }
}
.project-card {
    border: 0.25rem solid var(--bg-300);
    overflow: hidden;
    border-radius: 0.5rem;
}

.project-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    h3 {
        font-size: 1.25rem;
    }
}

.project-card-details {
    background-color: var(--accent);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}
.project-card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem 1rem;
    padding: 0;
    margin-bottom: 1rem;
    li {
        list-style-type: none;
        background-color: var(--secondary-200);
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
    }
}

#project-focus {
    position: absolute;
    background: var(--bg-300);
    width: 90%;
    max-height: 90%;
    overflow-y: hidden;
    left: 5%;
    top: 5%;
    padding: 1rem 1.25rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: none;
    z-index: 10;
}
@media only screen and (min-width: 800px) {
    #project-focus{
        width: 60%;
        left: 20%;
        padding: 2rem 2.2rem;
    }
}

#project-focus > header {
    display: flex;
    justify-content: space-between;
    i {
        font-size: 1.5rem;
    }
    i:hover {
        cursor: pointer;
    }
}

#project-focus > main {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#project-focus > main > p {
    background: var(--bg-200);
    border-radius: 0.8rem;
    padding: 1rem;
}

#comment-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#comment-form > input[type='text'] {
    border: none;
    border-bottom: solid 2px white;
    padding-bottom: 5px;
    background: none;
    color: var(--text-color);
    width: 100%;
}

#comment-form > input[type='text']:focus {
    outline: none;
}
#comment-form > input[type='submit'] {
    background: var(--accent);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}
#comment-form > input[type='submit']:hover {
    cursor: pointer;
}
#comment-form > input[type='submit']:disabled:hover{
    cursor: not-allowed;
}
#comment-area {
    background: var(--bg-200);
    border-radius: 0.8rem;
    padding: 1rem;
}
#comment-list {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.comment {
    background: var(--bg-300);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 0.8rem;
    header {
        display: flex;
        justify-content: space-between;
        p {
            opacity: 0.8;
        }
    }
}
