main{
    display: static;
}
@media only screen and (min-width: 800px) {
    main{
        display: flex;
        justify-content: space-between;
    }
}
main > * {
    padding: 3rem;
}
@media only screen and (min-width: 800px) {
    main > * {
        padding: 2rem 7rem;
    }
}

section{
    width: 100%;
    svg:hover{
        *{
            stroke: var(--accent);
        }
    }
}

@media only screen and (min-width: 800px) {
    section {
        width: 50%;
    }
}

section > *{
    margin-bottom: 0.5rem;
}

section > h2 {
    font-size: 2rem;
    font-weight: 400;
    animation: slide-in ease-in-out 0.5s;
}
section > h1 {
    font-size: 4rem;
    animation: slide-in ease-in-out 0.6s;
}

aside{
    display: none;
}

@media only screen and (min-width: 800px) {
    aside{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
aside > * {
    margin-bottom: 1rem;
}

aside > img {
    width: 20vw;
    height: 20vw;
}


#home-paragraph > p {
    display: inline;
    font-size: 1.25rem;
}

#home-paragraph {
    animation: slide-in ease-in-out 0.7s;
}
#home-paragraph > p {
    display: inline;
    font-size: 1.25rem;
}

section > .socials {
    width: 13rem;
    padding-left: 0;
    margin-top: 1rem;
    li{
        list-style-type: none;
    }
}

#checkout-button > a{
    margin-left: 0.5rem;
}
#checkout-button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    animation: slide-in ease-in-out 0.8s;
}
.button-accent:hover{
    transform: scale(1.1);
}
