<main>
    <section id="signup-section">
        <h1>Sign Up</h1>
        <form id="signup-form">
            <div class="input-section">
                <label for="emailInput">Email:</label>
                <input
                    id="emailInput"
                    class="text-input"
                    name="username"
                    placeholder="someone@example.com"
                    type="email"
                />
                <span class="text-input"></span>
            </div>

            <div class="input-section">
                <label for="passwordInput">Password:</label>
                <input
                    id="passwordInput"
                    class="text-input"
                    name="password"
                    placeholder="Enter password..."
                    type="password"
                />
                <span class="text-input"></span>
            </div>
            <div>
                <label for="passwordInput">Re-Enter Password:</label>
                <input
                    id="re-passwordInput"
                    class="text-input"
                    name="re-password"
                    placeholder="Re-Enter password..."
                    type="password"
                />
                <span class="text-input"></span>
            </div>
            <input value="Sign Up" type="submit" />
            <div id="seperator">Or</div>

            <button class="signup-with-google">
                <i class="fa-brands fa-google"></i> Sign Up With Google
            </button>
            <p class="text-sm">
                By owning an account you have acknowledged the
                <a>Terms & Services.</a>
            </p>
        </form>
    </section>
</main>
