:root{
    --bg-100: #06060A;
    --bg-200: #15131C;
    --bg-300: #24202B;
    --primary: #ADA3D1;
    --secondary: #3F3073;
    --secondary-200: #33275E;
    --accent: #694FBF;
    --text-color: #ECEAF1;
    --semantic-red: #D35B5B;
    --semantic-green: #6BDF85;
    color: var(--text-color);
}
