<div id="about">
    <div>
        <h1>About</h1>
        <p>A little bit about myself.</p>
        <code>
            <pre>
<span class="code-keyword">const</span> aboutMe = {      
        <span class="code-keyword">name</span>: <span class="code-text">"Ollie Moss"</span>,
        <span class="code-keyword">type</span>: <span class="code-text">"Student"</span>,
        <span class="code-keyword">insitution</span>: <span class="code-text">"NMIT (Nelson Marlborough Institute of Technology)"</span>,
        <span class="code-keyword">editor</span>: <span class="code-text">"neovim"</span>,
        <span class="code-keyword">qualification</span>: {
            <span class="code-keyword">name</span>: <span class="code-text">"Bachelor of Information Technology"</span>,
            <span class="code-keyword">level</span>: 7,                 
            <span class="code-keyword">status</span>: <span class="code-text">"2nd Year"</span>
        },     
        <span class="code-keyword">languages</span>: [<span class="code-text">"Typescript"</span>, <span class="code-text">"Javascript"</span>, <span class="code-text">"HTML"</span>, <span class="code-text">"CSS"</span>, <span class="code-text">"Python"</span>, <span class="code-text">"C#"</span>, <span class="code-text">"C"</span>, <span class="code-text">"SQL"</span>],
        <span class="code-keyword">technologies</span>: [<span class="code-text">"React"</span>, <span class="code-text">"NextJS"</span>, <span class="code-text">"Firebase"</span>],
};
</pre>
        </code>
    </div>

    <div>
        <h1>Skills</h1>
        <p>Some skills that I’ve developed.</p>
        <div id="skills">
            <div class="skills-card">
                <h2>Languages</h2>
                <div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/javascript.svg"
                        />
                        <p>Javascript</p>
                    </div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/python.svg"
                        />
                        <p>Python</p>
                    </div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/typescript.svg"
                        />
                        <p>Typescript</p>
                    </div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/csharp.svg"
                        />
                        <p>C#</p>
                    </div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/c.svg"
                        />
                        <p>C</p>
                    </div>
                </div>
            </div>

            <div class="skills-card">
                <h2>UI</h2>
                <div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/html.svg"
                        />
                        <p>HTML</p>
                    </div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/css.svg"
                        />
                        <p>CSS</p>
                    </div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/tailwind.svg"
                        />
                        <p>Tailwind</p>
                    </div>
                </div>
            </div>

            <div class="skills-card">
                <h2>Frameworks</h2>
                <div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/nextjs.svg"
                        />
                        <p>NextJS</p>
                    </div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/react.svg"
                        />
                        <p>React</p>
                    </div>
                </div>
            </div>

            <div class="skills-card">
                <h2>Other</h2>
                <div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/github.svg"
                        />
                        <br />
                        <p>Github</p>
                    </div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/firebase.svg"
                        />
                        <p>Firebase</p>
                    </div>
                    <div>
                        <img
                            width="40"
                            src="/assets/images/svgs/programming-icons/mysql.svg"
                        />
                        <p>MySQL</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
