#home-section {
    display: static;
}
@media only screen and (min-width: 1280px) {
    #home-section {
        display: flex;
        justify-content: space-between;
    }
}

#home-section-left {
    width: 100%;
    svg:hover{
        *{
            stroke: var(--accent);
        }
    }
}
@media only screen and (min-width: 1280px) {
    #home-section-left {
        width: 50%;
    }
}
#home-section > div {
    padding: 3rem;
}
@media only screen and (min-width: 1280px) {
    #home-section > div {
        padding: 7rem;
    }
}

#home-section-left > * {
    margin-bottom: 1rem;
}

#checkout > a{
    margin-left: 0.5rem;
}
.button-accent:hover{
    transition: transform ease-in-out 0.2s;
    transform: scale(1.1);
}


#home-section-right {
    display: none;
}

@media only screen and (min-width: 1280px) {
    #home-section-right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#home-section-right > img {
    width: 20vw;
    height: 20vw;
}

#home-section > div > p {
    display: inline;
    font-size: 1.25rem;
}

#home-left-paragraph {
    animation: slide-in ease-in-out 0.7s;
}
#checkout {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    animation: slide-in ease-in-out 0.8s;
}
#home-left-paragraph > p {
    display: inline;
    font-size: 1.25rem;
}

#home-section > div > h1 {
    font-size: 4rem;
    animation: slide-in ease-in-out 0.6s;
}

#home-section > div > h2 {
    font-size: 2rem;
    font-weight: 400;
    animation: slide-in ease-in-out 0.5s;
}

#home-section-left > .socials {
    width: 13rem;
}
