<div id="home-section">
    <div id="home-section-left">
        <h2>Hi, I'm</h2>
        <h1 class="text-accent">Ollie Moss</h1>
        <div id="home-right-paragraph">
            <p>Aspiring</p>
            <p class="text-accent">&nbsp;software developer&nbsp;</p>
            <p>
                from NZ studying a Level 7 Bachelor of Information Technology at
                NMIT. I love problem solving and creating high-quality and
                effective results. Obsessed with improvement and learning new
                things.
            </p>
        </div>
        <p>Checkout</p>
        <button class="button-accent bold text-sm">
            <a href="/pages/projects.html">My Projects</a>
        </button>
        <div class="socials flex-between items-center">
            <img width="24" src="/assets/images/svgs/social/instagram.svg" />
            <img width="24" src="/assets/images/svgs/social/github.svg" />
            <img width="24" src="/assets/images/svgs/social/linkedin.svg" />
            <img width="24" src="/assets/images/svgs/social/twitter.svg" />
        </div>
    </div>

    <div id="home-section-right">
        <img src="/assets/images/profile_picture.png" />
    </div>
</div>
