<header>
    <div class="header-flex">
        <a href="/pages/index.html">
            <img width="94" src="/assets/images/svgs/icon.svg"/>
        </a>
        <!-- Hamburger Menu Icon -->
        <svg id="hamburger" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" > <path d="M6 24H42M6 12H42M6 36H42" stroke="#ECEAF1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" /> </svg>
        <nav>
            <a href="/pages/index.html">Home</a>
            <a href="/pages/about.html">About</a>
            <a href="/pages/projects.html">Projects</a>
            <a href="/pages/contact.html">Contact</a>
            <div class="auth"></div>
        </nav>
    </div>
    <div id="dropdown">
        <nav>
            <a href="/pages/index.html">Home</a>
            <a href="/pages/about.html">About</a>
            <a href="/pages/projects.html">Projects</a>
            <a href="/pages/contact.html">Contact</a>
            <div class="auth"></div>
        </nav>
    </div>
</header>
