<header class="header">
    <nav class="flex-between">
        <div>
            <a href="/pages/index.html">
                <img width="94" src="/assets/images/svgs/icon.svg"/>
            </a>
        </div>
        <div id="header-links" class="flex-between">
            <a class="header-link" href="/pages/index.html">Home</a>
            <a class="header-link" href="/pages/about.html">About</a>
            <a class="header-link" href="/pages/projects.html">Projects</a>
            <a class="header-link" href="/pages/contact.html">Contact</a>
        </div>
        <div id="header-hamburger-menu">
            <svg
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M6 24H42M6 12H42M6 36H42"
                    stroke="#ECEAF1"
                    stroke-width="4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </div>
    </nav>
</header>
