header {
    width: 100%;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;

    background-color: var(--bg-100);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
}

nav{
    align-items: center;
    display: none;
    gap: 2rem;
}

@media only screen and (min-width: 1280px) {
    nav{
        margin-right: 4rem;
        display: flex;
    }
}

header svg{
    display: block;
}

@media only screen and (min-width: 1280px) {
    header svg{
        display: none;
    }
}

nav > a{
    color: var(--text-color);
    text-decoration: none;
}

nav > a:hover {
    color: var(--accent);
}

a {
    cursor: pointer;
}

