@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html body {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-100);
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
}

.bold {
    font-weight: 700;
}

.inline {
    display: inline;
}

.items-center {
    align-items: center;
}
