@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

body {
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-100);
    min-height: 100%;
    position: relative;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
}

.bold {
    font-weight: 700;
}

.inline {
    display: inline;
}

.items-center {
    align-items: center;
}

.button-accent {
    background-color: var(--accent);
    border: none;
    color: var(--text-color);
    padding: 0.75rem 1.1rem;
    border-radius: 0.5rem;
}

.text-accent {
    color: var(--accent);
}

.text-sm {
    font-size: 0.9rem;
}
