<div class="footer flex-between">
    <div>
        <p class="bold">Contact:</p>
        <div>
            <div class="contact-icon-text">
                <img width="20" src="/assets/images/svgs/social/mail.svg" />
                <p class="inline contact-icon-text">olliemoss321@gmail.com</p>
            </div>
            <div class="contact-icon-text">
                <img width="20" src="/assets/images/svgs/social/github.svg" />
                <p class="inline">Ollie-Moss</p>
            </div>
        </div>
    </div>
    <div class="flex-between items-center">
        <img width="23" src="/assets/images/svgs/social/instagram.svg" />
        <img width="23" src="/assets/images/svgs/social/github.svg" />
        <img width="23" src="/assets/images/svgs/social/linkedin.svg" />
        <img width="23" src="/assets/images/svgs/social/twitter.svg" />
    </div>
</div>
